<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ninja Gold</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<div class="row">
			<h3>Your Gold:</h3>
			<div id="gold-amount">{{ session['gold'] }}</div>
		</div>
		<div class="row">
			<div class="gold-box col-sm-3 text-center border">
				<h2>Farm</h2>
				<p>(earns 10-20 golds)</p>
				<form action='/process_money' method='post'>
				<input type="hidden" name="building" value="farm" />
				<input class='btn btn-primary' type='submit' value='Find Gold!'>
				</form>
			</div>
			<div class="gold-box col-sm-3 text-center border">
				<h2>Cave</h2>
				<p>(earns 5-10 golds)</p>
				<form action='/process_money' method='post'>
				<input type="hidden" name="building" value="cave" />
				<input class='btn btn-primary' type='submit' value='Find Gold!'>
				</form>
			</div>
			<div class="gold-box col-sm-3 text-center border">
				<h2>House</h2>
				<p>(earns 2-5 golds)</p>
				<form action='/process_money' method='post'>
				<input type="hidden" name="building" value="house" />
				<input class='btn btn-primary' type='submit' value='Find Gold!'>
				</form>
			</div>
			<div class="gold-box col-sm-3 text-center border">
				<h2>Casino</h2>
				<p>(earns 0-50 golds)</p>
				<form action='/process_money' method='post'>
				<input type="hidden" name="building" value="casino" />
				<input class='btn btn-primary' type='submit' value='Find Gold!'>
				</form>
			</div>
		</div>
		<div class="row">
			<p>Activities:</p>
		</div>
		<div class="row">
			<div class='border col-sm-12' id='activies'>
				<p class="win">Earned 15 golds from the farm! (2013/09/03 4.04 pm)</p>
				<p class="lost">Entered a cason and lost 50 golds... Ouch. (2013/09/03 4.04 pm)</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				{% if 'guess' in session: %}
					{% if session['guess'] > session['number']: %}
				<div class="box" id="high">
					<h1>Too high!</h1>
				</div>
					{% elif session['guess'] < session['number']: %}
				<div class="box" id="low">
					<h1>Too low!</h1>
				</div>
					{% elif session['guess'] == session['number']: %}
				<div class="box" id="justright">
					<h1>{{ session['guess'] }} was the number!</h1>
					<p><a href="/play_again" class="btn btn-primary my-2">Play again!</a></p>
				</div>
					{% endif %}
				<form action='/guess' method='post'>
					<input type='text' name='guess'>
				<input type='submit' value='Submit'>
				</form>
				{% elif 'guess' not in session: %}
				<form action='/guess' method='post'>
					<input type='text' name='guess'>
				<input type='submit' value='Submit'>
				</form>
				{% endif %}
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>