<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ninja Gold</title>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
	#gold-amount {
		width: 200px;
	}
	#activities {
		min-height: 100px;
	}

	.win {
		color: green;
	}

	.lost {
		color: red;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="row mt-5 pl-4 pr-4">
			<h3>Your Gold:</h3>
			<div id="gold-amount" class="border p-2 m-2">{{ request.session.gold }}</div>
		</div>
		<div class="row">
			<div class="col-sm-3 p-4">
				<div class="gold-box text-center border p-4">
					<h2>Farm</h2>
					<p>(earns 10-20 golds)</p>
					<form action='/process_money' method='post'>
					{% csrf_token %}
					<input type="hidden" name="building" value="farm" />
					<input class='btn btn-primary' type='submit' value='Find Gold!'>
					</form>
				</div>
			</div>
			<div class="col-sm-3 p-4">
				<div class="gold-box text-center border p-4">
					<h2>Cave</h2>
					<p>(earns 5-10 golds)</p>
					<form action='/process_money' method='post'>
					{% csrf_token %}
					<input type="hidden" name="building" value="cave" />
					<input class='btn btn-primary' type='submit' value='Find Gold!'>
					</form>
				</div>
			</div>
			<div class="col-sm-3 p-4">
				<div class="gold-box text-center border p-4">
					<h2>House</h2>
					<p>(earns 2-5 golds)</p>
					<form action='/process_money' method='post'>
					{% csrf_token %}
					<input type="hidden" name="building" value="house" />
					<input class='btn btn-primary' type='submit' value='Find Gold!'>
					</form>
				</div>
			</div>
			<div class="col-sm-3 p-4">
				<div class="gold-box text-center border p-4">
					<h2>Casino</h2>
					<p>(earns 0-50 golds)</p>
					<form action='/process_money' method='post'>
					{% csrf_token %}
					<input type="hidden" name="building" value="casino" />
					<input class='btn btn-primary' type='submit' value='Find Gold!'>
					</form>
				</div>
			</div>
		</div>
		<div class="row mt-5 pl-4 pr-4">
			<p>Activities:</p>
		</div>
		<div class="row pl-4 pr-4">
			<div class='border col-sm-12 p-4' id='activities'>
				{{ request.session.activity | safe }}
			</div>
		</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>