* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center
}

#board {
	width: {% x*100 %}px;
	margin: 20px auto;
	font-size: 0;
}

.box {
	display: inline-block;
	height: 100px;
	width: 100px;
}

.row1 .box:nth-child(odd) {
	background: black;
}

.row1 .box:nth-child(even) {
	background: red;
}

.row2 .box:nth-child(odd) {
	background: red;
}

.row2 .box:nth-child(even) {
	background: black;
}